@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

$colorWhite: #ffffff;
$colorGray: #737373;
$colorDarkGray: #767676;
$colorBlack: #000000;
$colorName: #8e8e8e;
$colorBgFeedback: linear-gradient(
  94.31deg,
  rgba(212, 20, 90, 0.25) 0.96%,
  rgba(46, 49, 146, 0.25) 104.83%
);
$colorBgHeaderFirst: linear-gradient(
  269.91deg,
  rgba(46, 49, 146, 0.7) 0%,
  rgba(212, 20, 90, 0.7) 98.16%
);
$colorBgButton: linear-gradient(95.2deg, #b90160 2.23%, #2e3192 99.51%);

@mixin img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body,
html {
  overflow-x: hidden;
}
.container {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1245px;

  @media (max-width: 1024px) {
    padding: 0 50px;
  }
  @media (max-width: 500px) {
    padding: 0 20px;
  }
}

.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;

  &__first {
    background: $colorBgHeaderFirst;
    padding: 23px 0 26px;

    & .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__item {
    display: flex;
    align-items: center;

    &.first {
      @media (max-width: 1024px) {
        opacity: 0;
      }
    }
  }
  &__icon {
    margin-right: 12px;
  }
  &__text {
    color: $colorWhite;
    text-decoration: none;
    font-size: 15px;
    line-height: 15px;
    font-weight: 500;
    display: block;
    transition: all 0.3s linear;

    @media (max-width: 1024px) {
      font-size: 12px;
      line-height: 14px;
    }

    &:hover {
      text-decoration: underline;
    }
    &:active {
      text-decoration: underline;
    }

    &.tel {
      margin-right: 12px;

      @media (max-width: 1024px) {
        margin-right: 0;
        font-size: 8px;
        line-height: 14px;
      }
    }
  }

  &__second {
    padding: 47px 0 34px;
    background-color: $colorWhite;

    @media (max-width: 767px) {
      padding: 25px 0;
    }
    @media (max-width: 500px) {
      display: none;
    }
  }

  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 270px;
    height: 60px;
    overflow: hidden;

    & svg {
      @include img();
    }
  }

  &__nav {
    position: relative;
    z-index: 1;

    @media (max-width: 1024px) {
      opacity: 0;
    }
  }

  &__list {
    display: flex;
  }
  &__link {
    list-style: none;
    margin-right: 25px;

    &:last-child {
      margin-right: 0;
    }

    & a {
      display: block;
      color: $colorGray;
      font-size: 18px;
      line-height: 21px;
      font-weight: 300;
      text-decoration: none;
      transition: all 0.3s linear;

      &:hover {
        color: $colorBlack;
      }
      &:active {
        text-decoration: underline;
      }
    }
  }
}
.banner {
  padding-top: 219px;
  background-image: url(../media/backgroundbanner.png);
  background-position: center;
  background-position-y: bottom;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-bottom: 25px;

  @media (max-width: 500px) {
    padding-top: 120px;
  }

  & .container {
    display: flex;
    align-items: center;
  }
  &__description {
    width: 56%;
  }
  &__title {
    max-width: 676px;
    font-size: 50px;
    line-height: 59px;
    font-weight: 900;
    margin-bottom: 10px;
    color: $colorBlack;

    @media (max-width: 1024px) {
      font-size: 40px;
      line-height: 40px;
      max-width: 400px;
    }

    @media (max-width: 500px) {
      font-size: 26px;
      line-height: 28px;
    }
  }
  &__text {
    font-size: 24px;
    line-height: 28px;
    font-weight: 300;
    margin-bottom: 9px;
    color: $colorBlack;

    @media (max-width: 500px) {
      font-size: 18px;
      line-height: 20px;
    }
  }
  &__btn {
    display: block;
    width: 100%;
    max-width: 179px;
    padding: 15px 3px 16px;
    text-align: center;
    color: $colorWhite;
    border-radius: 7px;
    background: $colorBgButton;
    border: none;
    font-size: 20px;
    line-height: 23px;
    font-weight: 900;
    transition: all 0.3s linear;

    @media (max-width: 1024px) {
      font-size: 15px;
      line-height: 18px;
      max-width: 141px;
    }

    @media (max-width: 500px) {
      font-size: 18px;
      line-height: 20px;
      padding: 10px 3px;
    }

    &:hover {
      cursor: pointer;
      box-shadow: 0px 0px 20px 20px rgba(240, 164, 231, 0.2);
    }
    &:active {
      box-shadow: 0px 0px 20px 20px rgba(240, 164, 231, 0.2);
    }
  }
  &__img {
    max-width: 533px;
    max-height: 686px;
    overflow: hidden;
    margin-top: -76px;

    @media (max-width: 500px) {
      margin-top: -36px;
    }

    & img {
      @include img();
    }
  }
}
.about {
  padding-bottom: 225px;
  position: relative;

  @media (max-width: 1024px) {
    padding-bottom: 124px;
  }
  @media (max-width: 500px) {
    padding-bottom: 74px;
  }

  &::before {
    content: url(../media/about.svg);
    display: block;
    position: absolute;
    left: 0;
    bottom: 64px;
    z-index: -1;
  }

  &__title {
    font-size: 50px;
    line-height: 59px;
    font-style: 400;
    text-align: center;
    color: $colorBlack;
    margin-bottom: 120px;

    @media (max-width: 1024px) {
      font-size: 40px;
      line-height: 48px;
    }
    @media (max-width: 767px) {
      margin-bottom: 60px;
    }
    @media (max-width: 500px) {
      margin-bottom: 35px;
      font-size: 32px;
      line-height: 34px;
    }
  }
  &__block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 61px;

    @media (max-width: 1024px) {
      display: block;
    }
  }
  &__item {
    background-color: $colorWhite;
    border-radius: 9px;
    box-shadow: 0px 0px 8px 8px rgba(240, 164, 231, 0.2);

    @media (max-width: 1024px) {
      margin-bottom: 50px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__img {
    ::before {
      content: "";
      display: block;
      padding-top: 60%;

      @media (max-width: 1024px) {
        padding-top: 33%;
      }
    }
    & img {
      position: relative;
      top: 0;
      left: 0;
      @include img();
      border-radius: 8px 8px 0 0;

      @media (max-width: 1024px) {
        max-height: 180px;
      }
    }
  }
  &__description {
    padding: 23px 33px 23px 22px;

    @media (max-width: 1024px) {
      padding: 23px 57px 23px 38px;
    }
    @media (max-width: 500px) {
      padding: 20px;
    }
  }
  &__subtitle {
    font-size: 36px;
    line-height: 42px;
    font-weight: 700;
    margin-bottom: 15px;
    color: $colorBlack;

    @media (max-width: 500px) {
      font-size: 28px;
      line-height: 30px;
    }
  }
  &__text {
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
    color: $colorDarkGray;

    @media (max-width: 500px) {
      font-size: 16px;
      line-height: 18px;
    }
  }
}

.slider {
  display: none;
  padding: 39px 0 132px;
  background: $colorBgFeedback;

  @media (max-width: 1024px) {
    display: block;
  }
}

.swiper {
  padding: 38px 0 72px;
  background: $colorBgFeedback;

  @media (max-width: 1024px) {
    display: none;
  }

  &-slide {
    width: 536px;
    opacity: 0.4;
    display: flex;
    flex-direction: column;

    &:last-child {
      @media (max-width: 1024px) {
        margin-bottom: 0;
      }
    }

    @media (max-width: 1024px) {
      opacity: 1;
      width: 100%;
      display: block;
      margin: 0 auto;
      max-height: 247px;
      margin-bottom: 49px;
    }

    &-active {
      opacity: 1;
    }
  }

  &__figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    position: relative;
    z-index: 1;
  }
  &__text {
    color: $colorBlack;
    font-size: 18px;
    line-height: 21px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 30px;
    position: relative;

    @media (max-width: 500px) {
      font-size: 16px;
      line-height: 18px;
    }

    &::after {
      content: "";
      display: block;
      width: 130px;
      height: 2px;
      background: $colorBgButton;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -21px;
    }
  }
  &__feedback {
    padding: 63px 44px 20px;
    background-color: $colorWhite;
    position: relative;
    top: -78px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    height: 187px;

    @media (max-width: 500px) {
      padding: 45px 10px 10px;
    }
  }
  &__name {
    text-align: center;
    font-size: 13px;
    line-height: 15px;
    font-weight: 300;
    color: $colorName;
  }
}
.footer {
  padding: 172px 0 84px;

  @media (max-width: 1024px) {
    padding: 124px 0 48px;
  }

  @media (max-width: 500px) {
    padding: 49px 0;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 141px;
    position: relative;
    z-index: 3;

    @media (max-width: 1024px) {
      column-gap: 18px;
    }

    @media (max-width: 500px) {
      display: block;
    }

    &::before {
      content: url(../media/footerbg.svg);
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: -111px;
      left: 0;
      z-index: -1;
    }
  }
  &__title {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    margin-bottom: 10px;
    color: $colorBlack;
  }

  &__item {
    @media (max-width: 500px) {
      margin-bottom: 25px;
    }
  }

  &__item:last-child {
    @media (max-width: 500px) {
      margin-bottom: 0;
    }
  }

  &__text {
    display: block;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
    color: $colorBlack;

    &-about {
      margin-bottom: 10px;
    }
  }
  &__icon {
    transition: all 0.3s linear;
    display: block;

    &:hover svg {
      transform: scale(1.2);
    }
    &:active svg {
      transform: scale(1.2);
    }
  }
}
a.footer__text {
  transition: all 0.3s linear;

  &:hover {
    text-decoration: underline;
  }
  &:active {
    text-decoration: underline;
  }
}
